.portfolio__items {
  padding: 10px;

  @media (min-width:767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  @media (min-width:990px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

  }
}

.page__title {
  text-align: center;
  padding: 10px 0;
  font-family: $fontPoppins;
  font-size: 20px;
  color: #fff;

  @media (min-width:990px) {
    padding: 20px 0;
    font-size: 24px;
  }
}

.portfolio {
  padding-top: 150px;
}