.home {
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 100vh;
}

.home__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: $fontSize-n;
    text-align: center;
    margin: 10px 0;
  }

  &Text {
    padding: 10px;
    margin: 20px 10px 10px;
    border: 1px solid $white;
    border-radius: 6px;
    color: $white;

  }

  &Icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px; 
   

    i {
      padding: 5px;
      width: 50px;
    }
  }
}

.home__cardImage {
  width: 170px;

  & img {
    border-radius: 50%;
    box-shadow: 1px 1px 22px rgba(255, 255, 255, .5);
  }
}

@media (min-width:990px) {
  .home__card {
    margin: 20px 0;

    &Text {
      margin-top: 30px;
    }

    &Icons i {
      width: 70px;
    }

    h2 {
      font-size: $fontSize-m;
    }
  }


}


