.portfolio__items {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;

  @media (min-width:767px) {
    
    grid-template-columns: repeat(2, 1fr);
    
  }

  @media (min-width:990px) {
  padding-l: 15px 0;
    grid-template-columns: repeat(4, 1fr);


  }
}

.page__title {
  text-align: center;
  padding: 10px 0;
  font-family: $fontPoppins;
  font-size: 20px;
  color: #fff;

  @media (min-width:990px) {
    padding: 20px 0;
    font-size: 24px;
  }
}

.portfolio {
  padding-top: 150px;
  min-height: 100vh;
}